body {
  font-family: 'Inter', 'Noto Sans JP', sans-serif;
  background: #f6f7f8;
  padding: 20px;
  color: #222;
}

h1 {
  font-weight: 600;
  letter-spacing: 0.05em;
}

h3 {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.08em;
}

.container {
  max-width: 900px;
  margin: auto;
  background: #f6f7f8;
}

/* 上部タブ */
.char-nav {
  display: flex;
  gap: 6px;
  margin-bottom: 40px;
  background-color: rgba(var(--main-color), 0.18);
  padding: 10px 1px 0 1px;
}

.nav-tab {
  background: white;
  padding: 10px 18px;
  border-radius: 14px 14px 0 0;
  color: #555454;
  text-decoration: none;
  font-weight: 700;
  transition: 0.2s;
}

#current-id{
  background-color: rgb(var(--main-color));
  color: white;
  cursor: default;
}

a.nav-tab:hover {
  transform: translateY(-2px);
}


/* 上部分 */
.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  margin-bottom: 32px;
}

/* 番号のところ */
.bg-number {
  position: absolute;
  left: 0;
  top: 70px;
  font-size: 100px;
  font-weight: 900;
  color: rgba(var(--main-color), 0.18);
  z-index: 0;
  pointer-events: none;
}

/* 立ち絵 */
.image-frame {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(var(--main-color), 0.2);
  border: 4px solid rgba(var(--main-color),0.7);
 
}

.image-frame img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 名前 */
#pc-name {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: 1.1;
  margin-top: 40px;
  transform: translateX(20px);
}

/* ふりがな */
#pc-kana,#pc-romaji {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.18em;
  color: rgba(0,0,0,0.45);
  margin-left: 4px;
  transform: translateX(20px);
  position: relative;
  top: -20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background: white;
  border-radius: 14px;
  padding: 18px;
  border-left: 5px solid rgb(var(--main-color));
}

.card p {
  border-bottom: 1px dashed rgba(0,0,0,0.08);
  padding: 6px 0;
}

.card li {
  border-bottom: 1px dashed rgba(0,0,0,0.08);
  line-height: 25px;
  padding: 6px 0;
}

/* レーダーチャート */
.chart-card {
  min-height: 420px;
}

.card canvas {
  width: 100% !important;
  height: auto !important;
}

/* 最後の行だけ線消す */
.card li:last-child {
  border-bottom: none;
}

.param-row {
  margin-bottom: 14px;
}

.param-name {
  font-size: 0.8rem;
  margin-bottom: 4px;
  letter-spacing: 0.05em;
  color: #333;
}

.param-bar-area {
  display: flex;
  align-items: center;
  gap: 8px;
}

.param-label {
  font-size: 0.75rem;
  width: 50px;
  opacity: 0.7;
  color: #777;
}

.param-bar {
  position: relative;
  flex: 1;
  height: 6px;
  background: #ddd;
  border-radius: 4px;
}

/* 7段階の目盛り */
.param-dots {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.param-dots span {
  width: 6px;
  height: 6px;
  background: #bbb;
  border-radius: 50%;
  background: rgba(var(--main-color), 0.2);
}

/* 現在位置 */
.param-point {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: rgb(var(--main-color));
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.scenario {
  list-style: none;
  padding: 0;
}

.scenario li {
  position: relative;
  padding-left: 14px;
}

.scenario li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 6px;
  height: 6px;
  background: rgb(var(--main-color));
  transform: translateY(-50%) rotate(45deg);
}

.links a {
  display: inline-block;
  margin: 10px 5px;
  padding: 8px 12px;
  background: rgba(var(--main-color),0.1);
  color: rgb(var(--main-color));
  border-radius: 20px;
  text-decoration: none;
}

.link-disabled {
  display: inline-block;
  margin: 10px 5px;
  padding: 8px 12px;
  background: rgba(var(--main-color),0.1);
  color: rgba(69, 69, 69, 0.125);
  border-radius: 20px;
  text-decoration: none;
}

/* ----------- スマホ用 ----------- */
@media (max-width: 900px) {

  /* 全体余白 */
  body {
    padding: 16px;
  }

  /* 上部分 */
  .hero {
    flex-direction: column;

    align-items: center;

    text-align: center;

    gap: 20px;
  }

  /* 番号のところ */
.bg-number {
  top: -50px;
}

  /* 名前 */
  .char-name {
    font-size: 2.2rem;
  }

  /* ふりがな */
  .char-ruby {
    margin-left: 0;
  }

  /* 立ち絵 */
  .hero-image img {
    width: 250px;
    height: 250px;
    max-width: 60vw;
  }

  /* グリッド */
  .grid {
    grid-template-columns: 1fr;
  }

  /* カード */
  .card {
    padding: 20px;
  }

  /* パラメーター */
  .param-row {
    grid-template-columns:
      70px
      1fr
      40px;

    gap: 8px;
  }

  canvas {
  width: 80% !important;
  height: auto !important;
  }

  /* 左右ラベル */
  .param-left,
  .param-right {
    font-size: 0.75rem;
  }

  /* 通過シナリオ */
  .scenario-list li {
    font-size: 0.95rem;
  }

}

/* ----------- 準備中用 ----------- */
.coming-soon {
  text-align: center;
  padding: 100px 20px;
}

.coming-soon h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: rgb(var(--main-color, 120,120,120));
}

.coming-soon p {
  margin-bottom: 40px;
  color: #666;
}

.back-button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 999px;
  text-decoration: none;
  background: #f3f3f3;
  color: #333;
}